<h1><%= title %></h1>
<% if (feed) { %>
    <ul>
        <% for (let post of feed) { %>
            <div className="post-card" style="border: 2px solid black;">
                <h4 classname="title"><%= post.title %></h4>
                <p className="username"><%= post.user.username %></p>
                <p className="date"><%= new Date(post.ts).toLocaleDateString() %></p>
                <p className="message"><%= post.message %></p>
                <% if (user.admin) { %>
                    <form action= "/post/<%= post._id %>/delete" method="post">
                        <div class="form-group">
                            <!-- <input class="form-control" name="post" type="hidden" value="<%= post._id %>"/> -->
                            <button class="btn btn-primary" type="submit">delete</button>
                        </div>
                    </form>
                <% } %>
            </div>
            <% } %>
    </ul>
<% } else {%>
    <p>clubhouse is quiet right now </p>
    <% }%>

